* { box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header img {
    height: 40px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: black;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f9d342; 
}

nav ul li input[type="text"] {
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}


